body {
    background-image: url("fond_plan.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.bleu-madera {color:#fff !important;background-color:#5462d2 !important}

.w3-table-all {
    width: 75%;
    margin: auto;
}

@media all and (orientation: portrait) {
    .w3-table-all {
        width: 100%;
        margin: 0;
    }
}